{%extends 'base.html'%}
{% load bootstrap4 %} 
{% load static %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row under-nav">
        <div class="col-12 col-sm-8">
            <div class="row">
                <div class="col-12">   
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            <p>{{ message }} Return to <a href="/my-user-profile">profile</a>.</p>
                        </div>                        
                        {% endfor %}
                    {% endif %}                 
                    <h1>Change Password</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form  action="{%url 'change-password'%}" method="post">
                        {%csrf_token%}
                    
                        {% bootstrap_form form%}
                        <input type="submit" class="btn btn-primary" value="Change">
                    </form>
                </div>
            </div>
            <div class="row under-nav"></div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-12 col-sm-3">
            <div class="jumbotron jumbotron-quote">
                <div class="row">
                    <div class="col-12 quote">
                        <h2 class="title-font">HoodMap</h2>                                              
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}